In [2]:
import pymannkendall as mk

In [10]:
import pandas as pd
import numpy as np

In [18]:
from mann_kendall_automated.utils.progress_bar import print_progress_bar
from mann_kendall_automated.utils.mann_kendall import mk_test
from mann_kendall_automated.utils.fix_string import string_to_float,\
    get_columns_with_incorrect_values

In [19]:
def transpose_dataframe(file_name):
    df = pd.read_excel(file_name, header=None, index_col=0)
    df = df.replace("ND", 0.5)
    df_tranposto = df.T
    df_tranposto.columns.values[0] = "well"
    df_tranposto.columns.values[1] = "Date"
    return df_tranposto

In [20]:
path = 'input_tables/example_input_table.xlsx'

In [21]:
# keep it
KENDALL_DIST = pd.read_csv(
    "Mann_Kendall_Automated/utils/file/kendall_dist.csv",
    index_col=0, sep=";")

df_tranposto = transpose_dataframe(path)

if get_columns_with_incorrect_values(df_tranposto):
    print('You should fix this values firts')
    raise TypeError

# check the number of samples per well, if less than 5, its ignore.
wells = pd.DataFrame(df_tranposto.well.value_counts() > 4).reset_index()

wells = wells[wells.well].iloc[:, 0]

colunas = df_tranposto.columns[2:]

Progress: |██████████████████████████████████████████████████| 100.0% Complete

In [25]:
df_tranposto

,well,Date,Arsênio,Boro,Cobalto,Cromo,Mercúrio,Molibdênio,Níquel,Zinco,Teste
1,Mon_Well_2,2004-03-02,NaN,0.5,NaN,NaN,NaN,NaN,0.5,NaN,7
2,Mon_Well_2,2004-08-03,NaN,0.5,NaN,NaN,NaN,NaN,0.5,NaN,8.49
3,Mon_Well_2,2004-12-02,NaN,0.5,NaN,NaN,NaN,NaN,0.5,NaN,10.7
4,Mon_Well_2,2005-04-22,NaN,0.5,NaN,NaN,NaN,NaN,0.5,NaN,11.2
5,Mon_Well_2,2005-10-12,NaN,0.5,NaN,NaN,NaN,NaN,0.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
216,PM-27*,2011-01-01,0.5,174.1,0.5,0.5,0.5,13.5,0.5,34.7,NaN
217,PM-27*,2011-07-01,0.5,248.4,0.5,0.5,0.5,1.01,0.5,47.7,NaN
218,PM-27*,2012-02-01,0.5,134.3,0.5,0.5,0.5,0.5,0.298,32.9,NaN
219,PM-27*,2012-08-01,0.5,166.7,0.5,0.5,0.5,4.63,0.5,62.8,NaN
220,PM-27**,2014-11-01,0.5,120,1.14,0.5,0.5,20,0.5,0.5,NaN

In [23]:

results = pd.DataFrame()
array = []
print_progress_bar(0, len(wells), prefix='Progress:',
                   suffix='Complete', length=50)
count = 0
for w in wells:
    count += 1
    print_progress_bar(count, len(wells), prefix='Progress:',
                       suffix='Complete', length=50)
    df_temp = df_tranposto[df_tranposto.well == w]
    for c in colunas:
        try:
            if df_temp.loc[:, c].dropna().count() > 3:
                valores = df_temp.loc[:, c].apply(
                    string_to_float).dropna().values
                trend, s, cv, cf = mk_test(valores, KENDALL_DIST)
                array = [w, c, trend, s, cv, cf]
                results = results.append([array], ignore_index=True)
            else:
                continue
        except TypeError:
            valores = df_temp.loc[:, c].apply(
                    string_to_float).fillna(0).values
            raise TypeError(f'incorrect values: {valores}')

results.columns = ['Well', 'Analise', 'Trend',
                   "Mann-Kendall Statistic (S)",
                   'Coefficient of Variation',
                   'Confidence Factor']

Progress: |██████████████████████████████████████████████████| 100.0% Complete

In [24]:
results

,Well,Analise,Trend,Mann-Kendall Statistic (S),Coefficient of Variation,Confidence Factor
0,Mon_Well_1,Boro,Stable,0.0,0.00,0.451
1,Mon_Well_1,Níquel,Stable,0.0,0.00,0.451
2,Mon_Well_1,Teste,Decreasing,-24.0,1.04,0.999
3,Mon_Well_2,Boro,Stable,0.0,0.00,0.451
4,Mon_Well_2,Níquel,Stable,0.0,0.00,0.451
...,...,...,...,...,...,...
147,PM-16*,Cromo,Stable,0.0,0.00,0.375
148,PM-16*,Mercúrio,Stable,0.0,0.00,0.375
149,PM-16*,Molibdênio,Stable,0.0,0.00,0.375
150,PM-16*,Níquel,No Trend,2.0,1.30,0.557
151,PM-16*,Zinco,Decreasing,-6.0,0.43,0.958

In [53]:
w

'PM-16*'

In [37]:
df_pm16_boro = df_temp[['Date', 'Boro']].set_index('Date')
df_pm16_boro.Boro = df_pm16_boro.Boro.apply(float)

In [61]:
df_pm16_boro

0            Boro
Date
2007-11-01  393.0
2009-01-01   87.2
2009-07-01  274.9
2011-01-01  200.1
2011-07-01  199.9
2012-02-01  185.7
2012-08-01  189.9

In [60]:
df_temp.Date.dt.strftime("%d/%m/%Y")

158    01/11/2007
159    01/01/2009
160    01/07/2009
161    01/01/2011
162    01/07/2011
163    01/02/2012
164    01/08/2012
Name: Date, dtype: object

In [38]:
mk.original_test(df_pm16_boro, alpha=0.05)

Mann_Kendall_Test(trend='no trend', h=False, p=0.22955621387891956, z=-1.2015028183722212, Tau=-0.42857142857142855, s=-9.0, var_s=44.333333333333336, slope=-14.200000000000017, intercept=242.50000000000006)

In [41]:
# trend, s, cv, cf = 
mk_test(df_pm16_boro.Boro, KENDALL_DIST)

('Stable', -9.0, 0.43, 0.881)